name: CI - Build & Test

on:
  push:
    branches:
      - 'main'
    paths-ignore:
      - 'docs/**'
      - '**/*.md'  # This will ignore all markdown files

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.22.5"

      - name: Download Go modules
        run: go mod download

      - name: Run tests
        run: go test ./...

      - name: Build binary
        run: go build ./...
