name: CI - Build, Test & Lint

on:
  push:
    branches:
      - 'main'
    paths-ignore:
      - 'docs/**'
      - '**/*.md'  # This will ignore all markdown files

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.22.5"

      - name: Download Go modules
        run: go mod download

      - name: Run tests
        run: go test -v ./...

      - name: Build binary
        run: go build -v ./...

  lint:
    name: Run golangci-lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.22.5"  # Match your build job's Go version

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v5  # Using v5 for better stability
        with:
          version: v1.59.0  # Latest stable version
          args: --timeout=5m  # Prevents timeouts on large codebases

  build-and-push-docker-image:
    name: Build and push Docker image
    runs-on: ubuntu-latest
    needs: [build-and-test, lint]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/golang-web-app:${{ github.sha }}
    
    